<h4>Hello #{name}, please use this section to enter today's work activity</h4>
<h4>Your current sales for the week are #{weekly_sales}</h4>
<h4>Your sales goal for the week is #{weekly_goal}</h4>

 <table style="width:100%">
  <tr>
    <td><input type="Submit" value="Clock In"></td>
    <td><input type="Submit" value="Clock Out"></td>
    <td><input type="Submit" value="Submit Lessons"></td>
  </tr>
  <tr>
    <th>Class Lessons</th>
    <th>Personal Lessons</th>
    <th>Orientation Lessons</th>
  </tr>
    <td><input type="number" name="class_lessons"></td>
    <td><input type="number" name="personal_lessons"></td>
    <td><input type="number" name="orientations"></td>
  </tr>
</table> 


